Loading Dataset

In [29]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/V5.csv')
df.replace('?', np.nan, inplace=True)
df.head()

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,NaN,Detached House,3,2,1092.0,1.025953,East

#Week 2 Graded Assignment 2.1

Q1 How many unknown ("?) values are present in the dataset?

In [5]:
df.isna().sum().sum()

5548

Q2 What is the shape of the dataset ?

In [6]:
df.shape

(10000, 12)

Q3 What is the value present at the 692th indexed row and 0th indexed column in the data ?

In [7]:
df.iloc[692,0]

'2009-11-16'

Q4 What is the value present at the 546th indexed row and 7th indexed column in the data ?

In [8]:
df.iloc[546,7]

3

Q5 What are the unique values present in the Locality feature of the dataset?

In [11]:
df["Locality"].unique()

array(['Waterbury', 'Bridgeport', 'Greenwich', 'Norwalk', nan,
       'Fairfield', 'West Hartford', 'Stamford'], dtype=object)

Q6 Which of the following features have missing(NaN) values present in the dataset?

Q7 Which of the following feature has most missing(NaN) values present in the dataset?

In [14]:
print(df['Year'].isna().sum())
print(df['Estimated Value'].isna().sum())
print(df['Sale Price'].isna().sum())
print(df['Locality'].isna().sum())
print(df['Property'].isna().sum())
print(df['property_tax_rate'].isna().sum())
print(df['carpet_area'].isna().sum())

0
1243
0
1253
1823
0
1229

Q8 Drop all the samples(rows) with missing values strictly greater than 2. How many samples remains after that ?

In [28]:
df_filtered = df[df.isna().sum(axis=1) > 2]
df_filtered.shape

(83, 12)

Q9 Drop all the samples(rows) with missing values in the original dataframe . How many samples remains after that ?

In [30]:
df_ = df.dropna()
df_.shape

(5449, 12)

#Week 2 Graded Assignment 2.2

In [32]:
df.head()

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,NaN,Detached House,3,2,1092.0,1.025953,East

Q1 Select all the even indexed rows from the given dataset. What is the value in the 3rd indexed column of the **0th** indexed row in the selected dataframe. (row/ column indexed from zero(0) in python/pandas)

Q2 Select all the even indexed rows from the given dataset. What is the value in the 3rd indexed column of the **332th** indexed row in the selected dataframe. (row/ column indexed from zero(0) in python/pandas)

In [59]:
even_df = df.iloc[::2].reset_index(drop=True)

print('Q1 : ', even_df.iloc[0,3])
print('Q2 : ', even_df.iloc[332,3])

Q1 :  111440.0
Q2 :  256200.0

Q3 Select all the odd indexed rows from the given dataset. What is the value in the 3rd indexed column of the 332th indexed row in the selected dataframe.

Q4 Select all the odd indexed columns from the given dataset. What is the value in the 5th indexed column of the 100th indexed row in the selected dataframe.

In [61]:
odd_df = df.iloc[1::2].reset_index(drop=True)

print('Q3 : ', odd_df.iloc[332,3])
print('Q4 : ', odd_df.iloc[100,5])

Q3 :  352940.0
Q4 :  Single Family

Q5 Select all the even indexed columns and even indexed rows from the given dataset. What is the value in the 3th indexed column of the 255th indexed row in the selected dataframe

In [96]:
even_rowcol_df = even_df.iloc[:,::2].reset_index(drop=True)

even_rowcol_df.iloc[255, 3]

'Detached House'

Q6 Determine the number of samples (rows) in the dataset that belong to the six most recent years, based on the provided data.

In [100]:
recent_years = [2022, 2021, 2020, 2019, 2018, 2017]
filtered_df = df[df['Year'].isin(recent_years)]
filtered_df.shape

(4749, 12)

Q7 Determine the number of samples (rows) in the dataset which has num_rooms = 3 and num_bathrooms = 3

In [68]:
df.loc[(df['num_rooms'] == 3) & (df['num_bathrooms'] == 3)].shape

(2730, 12)

Q8 Determine the number of samples (rows) in the dataset which has num_rooms = 3 or num_bathrooms = 3

In [69]:
df.loc[(df['num_rooms'] == 3) | (df['num_bathrooms'] == 3)].shape

(8591, 12)

Q9 In the Year 2022, how many houses (rows) located in the Greenwich Locality have exactly num_room == 3, and facing towards either the North or East?

In [77]:
df.loc[(df['Year'] == 2022)& (df['Locality']=='Greenwich') & (df['num_rooms'] == 3) & ((df['Face'] == 'North')| (df['Face'] == 'East'))].shape

(42, 12)

Q10 Calculate the number of samples(rows) that correspond to the month of August across all the years.?

In [91]:
df.loc[df['Date'].str[5:7].astype(int) == 8].shape

(1050, 12)

Q11 According to the data which Locality have highest average Sale Price?

In [83]:
df.groupby(['Locality'])['Sale Price'].mean().sort_values(ascending=False)

Locality
Greenwich        2.270224e+06
Fairfield        7.277225e+05
Stamford         6.305313e+05
Norwalk          5.590959e+05
West Hartford    3.385472e+05
Bridgeport       1.740953e+05
Waterbury        1.062152e+05
Name: Sale Price, dtype: float64